In [3]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd #import pandas
import warnings
warnings.filterwarnings("ignore")

In [4]:
uri = 'mongodb+srv://ryandekker:Bmo4ZF5Oksi7tsx@cluster0.yogybtx.mongodb.net/'
mongo = MongoClient(uri)

In [5]:
db = mongo['jobs_in_data']

In [6]:
# review the collections in our database
print(db.list_collection_names())

['jobs']

In [7]:
data_jobs = db['jobs']

In [8]:
query = {'work_year' : 2023}

# Use count_documents to display the number of documents in the result
result = data_jobs.count_documents(query)
# Display the first document in the results using pprint
pprint(result)

6635

In [9]:
cleaned_df = pd.DataFrame(data_jobs.find(query))
cleaned_df.head(16)

,_id,work_year,job_title,job_category,salary,experience_level,employment_type,work_setting,company_size
0,65a6e28a50bd753185e87f61,2023,Data Scientist,Data Science and Research,212000,Senior,Full-time,In-person,M
1,65a6e28a50bd753185e87f60,2023,Data Architect,Data Architecture and Modeling,81800,Senior,Full-time,In-person,M
2,65a6e28a50bd753185e87f62,2023,Data Scientist,Data Science and Research,93300,Senior,Full-time,In-person,M
3,65a6e28a50bd753185e87f66,2023,Machine Learning Researcher,Machine Learning and AI,138700,Mid-level,Full-time,In-person,M
4,65a6e28a50bd753185e87f6b,2023,Data Analyst,Data Analysis,95000,Entry-level,Full-time,In-person,M
5,65a6e28a50bd753185e87f6e,2023,Data Scientist,Data Science and Research,234000,Senior,Full-time,In-person,M
6,65a6e28a50bd753185e87f72,2023,Machine Learning Engineer,Machine Learning and AI,142200,Mid-level,Full-time,In-person,M
7,65a6e28a50bd753185e87f73,2023,Data Analyst,Data Analysis,155000,Mid-level,Full-time,In-person,M
8,65a6e28a50bd753185e87f74,2023,Data Analyst,Data Analysis,110000,Mid-level,Full-time,In-person,M
9,65a6e28a50bd753185e87f75,2023,Machine Learning Engineer,Machine Learning and AI,266500,Senior,Full-time,In-person,M
10,65a6e28a50bd753185e87f7a,2023,Machine Learning Engineer,Machine Learning and AI,182200,Senior,Full-time,In-person,M
11,65a6e28a50bd753185e87f7d,2023,Data Engineer,Data Engineering,185900,Senior,Full-time,In-person,M
12,65a6e28a50bd753185e87f82,2023,Data Engineer,Data Engineering,94500,Senior,Full-time,In-person,M
13,65a6e28a50bd753185e87f83,2023,Data Engineer,Data Engineering,247300,Senior,Full-time,In-person,M
14,65a6e28a50bd753185e87f84,2023,Data Engineer,Data Engineering,139700,Senior,Full-time,In-person,M
15,65a6e28a50bd753185e87f87,2023,Machine Learning Engineer,Machine Learning and AI,204500,Senior,Full-time,In-person,M

In [10]:
print(cleaned_df.columns)

Index(['_id', 'work_year', 'job_title', 'job_category', 'salary',
       'experience_level', 'employment_type', 'work_setting', 'company_size'],
      dtype='object')

In [11]:
#What is the average salary based on the job title and work experience?
pipeline = [
    {'$group': {'_id': {'job_title': '$job_title', 'experience_level': '$experience_level'}, 'average_salary': {'$avg': '$salary'}}},
    {'$sort': {'_id.job_title': 1, '_id.experience_level': 1}}
]

results = data_jobs.aggregate(pipeline)

for result in results:
    job_title = result['_id']['job_title']
    work_experience = result['_id']['experience_level']
    average_salary = result['average_salary']
    print(f"Job Title: {job_title}, Work Experience: {work_experience}, Average Salary: ${average_salary}")

Job Title: AI Architect, Work Experience: Senior, Average Salary: $253454.54545454544
Job Title: AI Developer, Work Experience: Entry-level, Average Salary: $130000.0
Job Title: AI Developer, Work Experience: Mid-level, Average Salary: $170000.0
Job Title: AI Developer, Work Experience: Senior, Average Salary: $201500.0
Job Title: AI Engineer, Work Experience: Mid-level, Average Salary: $168000.0
Job Title: AI Engineer, Work Experience: Senior, Average Salary: $199411.36363636365
Job Title: AWS Data Architect, Work Experience: Mid-level, Average Salary: $258000.0
Job Title: Analytics Engineer, Work Experience: Entry-level, Average Salary: $112412.5
Job Title: Analytics Engineer, Work Experience: Executive, Average Salary: $200666.66666666666
Job Title: Analytics Engineer, Work Experience: Mid-level, Average Salary: $129551.57894736843
Job Title: Analytics Engineer, Work Experience: Senior, Average Salary: $163246.1768707483
Job Title: Applied Machine Learning Engineer, Work Experience: Executive, Average Salary: $225000.0
Job Title: Applied Machine Learning Engineer, Work Experience: Mid-level, Average Salary: $130000.0
Job Title: Applied Machine Learning Scientist, Work Experience: Senior, Average Salary: $90000.0
Job Title: Applied Scientist, Work Experience: Entry-level, Average Salary: $178367.5
Job Title: Applied Scientist, Work Experience: Mid-level, Average Salary: $180638.92857142858
Job Title: Applied Scientist, Work Experience: Senior, Average Salary: $193501.1435185185
Job Title: BI Analyst, Work Experience: Mid-level, Average Salary: $137500.0
Job Title: BI Analyst, Work Experience: Senior, Average Salary: $135937.0
Job Title: BI Data Engineer, Work Experience: Entry-level, Average Salary: $60000.0
Job Title: BI Developer, Work Experience: Entry-level, Average Salary: $100650.0
Job Title: BI Developer, Work Experience: Mid-level, Average Salary: $102078.57142857143
Job Title: BI Developer, Work Experience: Senior, Average Salary: $127615.38461538461
Job Title: Business Data Analyst, Work Experience: Mid-level, Average Salary: $105000.0
Job Title: Business Data Analyst, Work Experience: Senior, Average Salary: $129000.0
Job Title: Business Intelligence Analyst, Work Experience: Entry-level, Average Salary: $61450.0
Job Title: Business Intelligence Analyst, Work Experience: Mid-level, Average Salary: $112670.66666666667
Job Title: Business Intelligence Analyst, Work Experience: Senior, Average Salary: $138812.26470588235
Job Title: Business Intelligence Data Analyst, Work Experience: Entry-level, Average Salary: $99000.0
Job Title: Business Intelligence Developer, Work Experience: Executive, Average Salary: $137000.0
Job Title: Business Intelligence Developer, Work Experience: Mid-level, Average Salary: $125000.0
Job Title: Business Intelligence Developer, Work Experience: Senior, Average Salary: $116129.375
Job Title: Business Intelligence Engineer, Work Experience: Executive, Average Salary: $209850.0
Job Title: Business Intelligence Engineer, Work Experience: Mid-level, Average Salary: $114650.0
Job Title: Business Intelligence Engineer, Work Experience: Senior, Average Salary: $154446.66666666666
Job Title: Business Intelligence Manager, Work Experience: Mid-level, Average Salary: $135000.0
Job Title: Business Intelligence Specialist, Work Experience: Mid-level, Average Salary: $88756.0
Job Title: Business Intelligence Specialist, Work Experience: Senior, Average Salary: $199550.0
Job Title: Cloud Database Engineer, Work Experience: Senior, Average Salary: $141666.66666666666
Job Title: Compliance Data Analyst, Work Experience: Entry-level, Average Salary: $60000.0
Job Title: Computer Vision Engineer, Work Experience: Entry-level, Average Salary: $220000.0
Job Title: Computer Vision Engineer, Work Experience: Senior, Average Salary: $221646.15384615384
Job Title: Data Analyst, Work Experience: Entry-level, Average Salary: $80911.34666666666
Job Title: Data Analyst, Work Experience: Executive, Average Salary: $113125.0
Job Title: Data Analyst, Work Experience: Mid-level, Average Salary: $101009.42666666667
Job Title: Data Analyst, Work Experience: Senior, Average Salary: $122709.06880733946
Job Title: Data Analytics Manager, Work Experience: Executive, Average Salary: $147500.0
Job Title: Data Analytics Manager, Work Experience: Mid-level, Average Salary: $142944.44444444444
Job Title: Data Analytics Manager, Work Experience: Senior, Average Salary: $167975.0
Job Title: Data Analytics Specialist, Work Experience: Senior, Average Salary: $95000.0
Job Title: Data Architect, Work Experience: Executive, Average Salary: $167500.0
Job Title: Data Architect, Work Experience: Mid-level, Average Salary: $138625.0
Job Title: Data Architect, Work Experience: Senior, Average Salary: $171151.85074626867
Job Title: Data Developer, Work Experience: Mid-level, Average Salary: $98057.25
Job Title: Data Developer, Work Experience: Senior, Average Salary: $115100.0
Job Title: Data Engineer, Work Experience: Entry-level, Average Salary: $101042.52
Job Title: Data Engineer, Work Experience: Executive, Average Salary: $183618.37209302327
Job Title: Data Engineer, Work Experience: Mid-level, Average Salary: $130850.23161764706
Job Title: Data Engineer, Work Experience: Senior, Average Salary: $161799.90493601462
Job Title: Data Infrastructure Engineer, Work Experience: Mid-level, Average Salary: $180827.5
Job Title: Data Infrastructure Engineer, Work Experience: Senior, Average Salary: $211649.375
Job Title: Data Integration Engineer, Work Experience: Senior, Average Salary: $118000.0
Job Title: Data Integration Specialist, Work Experience: Entry-level, Average Salary: $94341.66666666667
Job Title: Data Lead, Work Experience: Executive, Average Salary: $215333.33333333334
Job Title: Data Lead, Work Experience: Mid-level, Average Salary: $122500.0
Job Title: Data Lead, Work Experience: Senior, Average Salary: $174666.66666666666
Job Title: Data Management Analyst, Work Experience: Entry-level, Average Salary: $56000.0
Job Title: Data Management Specialist, Work Experience: Senior, Average Salary: $116523.25
Job Title: Data Manager, Work Experience: Executive, Average Salary: $86875.0
Job Title: Data Manager, Work Experience: Mid-level, Average Salary: $98875.0
Job Title: Data Manager, Work Experience: Senior, Average Salary: $129183.61666666667
Job Title: Data Modeler, Work Experience: Mid-level, Average Salary: $119550.0
Job Title: Data Modeler, Work Experience: Senior, Average Salary: $133438.88888888888
Job Title: Data Operations Analyst, Work Experience: Mid-level, Average Salary: $54870.0
Job Title: Data Operations Analyst, Work Experience: Senior, Average Salary: $118000.0
Job Title: Data Operations Engineer, Work Experience: Senior, Average Salary: $184987.5
Job Title: Data Operations Manager, Work Experience: Senior, Average Salary: $136000.0
Job Title: Data Operations Specialist, Work Experience: Mid-level, Average Salary: $57500.0
Job Title: Data Operations Specialist, Work Experience: Senior, Average Salary: $53210.0
Job Title: Data Product Manager, Work Experience: Mid-level, Average Salary: $173500.0
Job Title: Data Product Manager, Work Experience: Senior, Average Salary: $132500.0
Job Title: Data Quality Analyst, Work Experience: Mid-level, Average Salary: $75833.33333333333
Job Title: Data Quality Analyst, Work Experience: Senior, Average Salary: $96931.66666666667
Job Title: Data Quality Engineer, Work Experience: Senior, Average Salary: $131500.0
Job Title: Data Science Consultant, Work Experience: Mid-level, Average Salary: $86666.66666666667
Job Title: Data Science Consultant, Work Experience: Senior, Average Salary: $127881.81818181818
Job Title: Data Science Director, Work Experience: Executive, Average Salary: $201000.0
Job Title: Data Science Engineer, Work Experience: Mid-level, Average Salary: $121500.0
Job Title: Data Science Engineer, Work Experience: Senior, Average Salary: $173018.75
Job Title: Data Science Lead, Work Experience: Mid-level, Average Salary: $177819.1
Job Title: Data Science Lead, Work Experience: Senior, Average Salary: $191450.0
Job Title: Data Science Manager, Work Experience: Executive, Average Salary: $206250.0
Job Title: Data Science Manager, Work Experience: Mid-level, Average Salary: $159083.33333333334
Job Title: Data Science Manager, Work Experience: Senior, Average Salary: $223719.07142857142
Job Title: Data Science Practitioner, Work Experience: Senior, Average Salary: $144480.0
Job Title: Data Scientist, Work Experience: Entry-level, Average Salary: $108602.08333333333
Job Title: Data Scientist, Work Experience: Executive, Average Salary: $192545.83333333334
Job Title: Data Scientist, Work Experience: Mid-level, Average Salary: $137912.95454545456
Job Title: Data Scientist, Work Experience: Senior, Average Salary: $176886.16014234876
Job Title: Data Specialist, Work Experience: Mid-level, Average Salary: $94833.33333333333
Job Title: Data Specialist, Work Experience: Senior, Average Salary: $95210.0
Job Title: Data Strategist, Work Experience: Mid-level, Average Salary: $84750.0
Job Title: Data Strategist, Work Experience: Senior, Average Salary: $102000.83333333333
Job Title: Data Strategy Manager, Work Experience: Senior, Average Salary: $138750.0
Job Title: Data Visualization Analyst, Work Experience: Senior, Average Salary: $120000.0
Job Title: Data Visualization Engineer, Work Experience: Senior, Average Salary: $122975.0
Job Title: Data Visualization Specialist, Work Experience: Senior, Average Salary: $122275.0
Job Title: Decision Scientist, Work Experience: Mid-level, Average Salary: $173350.0
Job Title: Decision Scientist, Work Experience: Senior, Average Salary: $165873.33333333334
Job Title: Deep Learning Engineer, Work Experience: Entry-level, Average Salary: $135000.0
Job Title: Deep Learning Engineer, Work Experience: Mid-level, Average Salary: $125000.0
Job Title: Deep Learning Engineer, Work Experience: Senior, Average Salary: $307710.0
Job Title: Director of Data Science, Work Experience: Executive, Average Salary: $256181.42857142858
Job Title: Director of Data Science, Work Experience: Mid-level, Average Salary: $204500.0
Job Title: ETL Developer, Work Experience: Senior, Average Salary: $123125.0
Job Title: Financial Data Analyst, Work Experience: Entry-level, Average Salary: $56500.0
Job Title: Financial Data Analyst, Work Experience: Mid-level, Average Salary: $130000.0
Job Title: Head of Data, Work Experience: Executive, Average Salary: $255441.17647058822
Job Title: Head of Data, Work Experience: Senior, Average Salary: $242500.0
Job Title: Head of Data Science, Work Experience: Executive, Average Salary: $267475.0
Job Title: Head of Machine Learning, Work Experience: Executive, Average Salary: $259000.0
Job Title: Lead Data Analyst, Work Experience: Mid-level, Average Salary: $68000.0
Job Title: ML Engineer, Work Experience: Entry-level, Average Salary: $142000.0
Job Title: ML Engineer, Work Experience: Mid-level, Average Salary: $142500.0
Job Title: ML Engineer, Work Experience: Senior, Average Salary: $229796.6935483871
Job Title: MLOps Engineer, Work Experience: Entry-level, Average Salary: $95650.0
Job Title: MLOps Engineer, Work Experience: Mid-level, Average Salary: $124275.0
Job Title: MLOps Engineer, Work Experience: Senior, Average Salary: $170500.0
Job Title: Machine Learning Engineer, Work Experience: Entry-level, Average Salary: $154540.5
Job Title: Machine Learning Engineer, Work Experience: Executive, Average Salary: $190950.0
Job Title: Machine Learning Engineer, Work Experience: Mid-level, Average Salary: $174660.13924050634
Job Title: Machine Learning Engineer, Work Experience: Senior, Average Salary: $197833.09537572254
Job Title: Machine Learning Infrastructure Engineer, Work Experience: Mid-level, Average Salary: $188760.0
Job Title: Machine Learning Infrastructure Engineer, Work Experience: Senior, Average Salary: $182680.0
Job Title: Machine Learning Modeler, Work Experience: Senior, Average Salary: $173350.0
Job Title: Machine Learning Researcher, Work Experience: Mid-level, Average Salary: $164620.0
Job Title: Machine Learning Researcher, Work Experience: Senior, Average Salary: $150733.33333333334
Job Title: Machine Learning Scientist, Work Experience: Mid-level, Average Salary: $178333.33333333334
Job Title: Machine Learning Scientist, Work Experience: Senior, Average Salary: $189074.85714285713
Job Title: Machine Learning Software Engineer, Work Experience: Mid-level, Average Salary: $181300.0
Job Title: Machine Learning Software Engineer, Work Experience: Senior, Average Salary: $200500.0
Job Title: NLP Engineer, Work Experience: Senior, Average Salary: $198333.33333333334
Job Title: Principal Data Scientist, Work Experience: Senior, Average Salary: $177500.0
Job Title: Research Analyst, Work Experience: Entry-level, Average Salary: $65037.5
Job Title: Research Analyst, Work Experience: Mid-level, Average Salary: $88857.14285714286
Job Title: Research Analyst, Work Experience: Senior, Average Salary: $122965.94444444444
Job Title: Research Engineer, Work Experience: Entry-level, Average Salary: $145000.0
Job Title: Research Engineer, Work Experience: Mid-level, Average Salary: $176766.66666666666
Job Title: Research Engineer, Work Experience: Senior, Average Salary: $196289.64583333334
Job Title: Research Scientist, Work Experience: Entry-level, Average Salary: $170482.1052631579
Job Title: Research Scientist, Work Experience: Executive, Average Salary: $202500.0
Job Title: Research Scientist, Work Experience: Mid-level, Average Salary: $177666.81818181818
Job Title: Research Scientist, Work Experience: Senior, Average Salary: $195585.5357142857
Job Title: Software Data Engineer, Work Experience: Senior, Average Salary: $210000.0

In [12]:
from bokeh.io import show
from bokeh.models import CustomJS, MultiChoice

OPTIONS = ["job_title", "job_category", "experience_level", "work_setting", "company_size"]

multi_choice = MultiChoice(value=["job_title", "job_category"], options=OPTIONS)
multi_choice.js_on_change("value", CustomJS(code="""
    console.log('multi_choice: value=' + this.value, this.toString())
"""))

show(multi_choice)

In [49]:
from bokeh.palettes import Category10
from bokeh.plotting import figure, show
from bokeh.models import NumeralTickFormatter
from bokeh.transform import factor_cmap

plot_df = cleaned_df.copy()
plot_df = plot_df.rename(columns={'job_category':'category', 'work_setting':'setting', 'experience_level': 'experience'})


group = plot_df.groupby(['category', 'setting', 'experience'])

index_cmap = factor_cmap('category_setting_experience', palette=Category10[10], factors=sorted(plot_df.category.unique()), end=1)

p = figure(width=1900, height=800, title="Data Science Careers by Salary",
           x_range=group, toolbar_location=None, tooltips=[("salary", "@salary_mean"), ("category, setting, experience", "@category_setting_experience")])


p.vbar(x='category_setting_experience', top='salary_mean', width=1, source=group,
       line_color="white", fill_color=index_cmap )

p.y_range.start = 0
p.y_range.end = 250000
p.yaxis[0].formatter = NumeralTickFormatter(format="$0,0.00")
p.x_range.range_padding = 0.05
p.xgrid.grid_line_color = None
p.xaxis.axis_label = "Categories"
p.xaxis.major_label_orientation = 1.2
p.outline_line_color = None

show(p)

In [17]:
type(Category10)
Category10
Category10[10]

('#1f77b4',
 '#ff7f0e',
 '#2ca02c',
 '#d62728',
 '#9467bd',
 '#8c564b',
 '#e377c2',
 '#7f7f7f',
 '#bcbd22',
 '#17becf')

In [18]:
#What is the difference in salary by work setting?
work_settings = ['In-person', 'Remote']

salaries = {}
for work_setting in work_settings:
    employees = data_jobs.find({'work_setting': work_setting})
    total_salary = 0
    for employee in employees:
        total_salary += employee['salary']
    average_salary = total_salary / employees.count()
    salaries[work_setting] = average_salary

salary_differences = {}
for i in range(len(work_settings)):
    for j in range(i + 1, len(work_settings)):
        salary_difference = salaries[work_settings[i]] - salaries[work_settings[j]]
        salary_differences[f"{work_settings[i]} - {work_settings[j]}"] = salary_difference

print("Salary differences by work setting:")
for key, value in salary_differences.items():
    print(f"{key}: ${value}")

Salary differences by work setting:
In-person - Remote: $6599.067895895947

In [19]:
#What is the salary difference between company sizes?
company_sizes = ['S', 'M', 'L']

salaries = {}
for company_size in company_sizes:
    employees = data_jobs.find({'company_size': company_size})
    total_salary = 0
    for employee in employees:
        total_salary += employee['salary']
    average_salary = total_salary / employees.count()
    salaries[company_size] = average_salary

salary_differences = {}
for i in range(len(company_sizes)):
    for j in range(i + 1, len(company_sizes)):
        salary_difference = salaries[company_sizes[i]] - salaries[company_sizes[j]]
        salary_differences[f"{company_sizes[i]} - {company_sizes[j]}"] = salary_difference

print("Salary differences by company size:")
for key, value in salary_differences.items():
    print(f"{key}: ${value}")

Salary differences by company size:
S - M: $-15210.058167330688
S - L: $-26223.965116279083
M - L: $-11013.906948948395

In [20]:
#How does job category affect salary between job titles?
pipeline = [
    {'$group': {'_id': {'job_title': '$job_title', 'job_category': '$job_category'}, 'average_salary': {'$avg': '$salary'}}},
    {'$sort': {'_id.job_title': 1, '_id.job_category': 1}}
]

results = data_jobs.aggregate(pipeline)

for result in results:
    job_title = result['_id']['job_title']
    job_categories = result['_id']['job_category']
    average_salary = result['average_salary']
    print(f"Job Categories: {job_categories},Job Title: {job_title}, Average Salary: ${average_salary}")

Job Categories: Machine Learning and AI,Job Title: AI Architect, Average Salary: $253454.54545454544
Job Categories: Machine Learning and AI,Job Title: AI Developer, Average Salary: $182285.7142857143
Job Categories: Machine Learning and AI,Job Title: AI Engineer, Average Salary: $193594.44444444444
Job Categories: Data Architecture and Modeling,Job Title: AWS Data Architect, Average Salary: $258000.0
Job Categories: Leadership and Management,Job Title: Analytics Engineer, Average Salary: $159729.07954545456
Job Categories: Machine Learning and AI,Job Title: Applied Machine Learning Engineer, Average Salary: $177500.0
Job Categories: Machine Learning and AI,Job Title: Applied Machine Learning Scientist, Average Salary: $90000.0
Job Categories: Data Science and Research,Job Title: Applied Scientist, Average Salary: $191591.57539682538
Job Categories: BI and Visualization,Job Title: BI Analyst, Average Salary: $136197.5
Job Categories: Data Engineering,Job Title: BI Data Engineer, Average Salary: $60000.0
Job Categories: BI and Visualization,Job Title: BI Developer, Average Salary: $117038.63636363637
Job Categories: Data Analysis,Job Title: Business Data Analyst, Average Salary: $121000.0
Job Categories: BI and Visualization,Job Title: Business Intelligence Analyst, Average Salary: $129053.4375
Job Categories: Data Analysis,Job Title: Business Intelligence Data Analyst, Average Salary: $99000.0
Job Categories: BI and Visualization,Job Title: Business Intelligence Developer, Average Salary: $121086.25
Job Categories: BI and Visualization,Job Title: Business Intelligence Engineer, Average Salary: $153187.0
Job Categories: BI and Visualization,Job Title: Business Intelligence Manager, Average Salary: $135000.0
Job Categories: BI and Visualization,Job Title: Business Intelligence Specialist, Average Salary: $144153.0
Job Categories: Cloud and Database,Job Title: Cloud Database Engineer, Average Salary: $141666.66666666666
Job Categories: Data Analysis,Job Title: Compliance Data Analyst, Average Salary: $60000.0
Job Categories: Machine Learning and AI,Job Title: Computer Vision Engineer, Average Salary: $221528.57142857142
Job Categories: Data Analysis,Job Title: Data Analyst, Average Salary: $114290.58281573499
Job Categories: Leadership and Management,Job Title: Data Analytics Manager, Average Salary: $150421.42857142858
Job Categories: Leadership and Management,Job Title: Data Analytics Specialist, Average Salary: $95000.0
Job Categories: Data Architecture and Modeling,Job Title: Data Architect, Average Salary: $167679.92105263157
Job Categories: Leadership and Management,Job Title: Data Developer, Average Salary: $103738.16666666667
Job Categories: Data Engineering,Job Title: Data Engineer, Average Salary: $155421.88082556592
Job Categories: Data Engineering,Job Title: Data Infrastructure Engineer, Average Salary: $201375.41666666666
Job Categories: Data Engineering,Job Title: Data Integration Engineer, Average Salary: $118000.0
Job Categories: Data Management and Strategy,Job Title: Data Integration Specialist, Average Salary: $94341.66666666667
Job Categories: Leadership and Management,Job Title: Data Lead, Average Salary: $184642.85714285713
Job Categories: Data Management and Strategy,Job Title: Data Management Analyst, Average Salary: $56000.0
Job Categories: Data Management and Strategy,Job Title: Data Management Specialist, Average Salary: $116523.25
Job Categories: Leadership and Management,Job Title: Data Manager, Average Salary: $113724.28448275862
Job Categories: Data Architecture and Modeling,Job Title: Data Modeler, Average Salary: $132050.0
Job Categories: Data Quality and Operations,Job Title: Data Operations Analyst, Average Salary: $86435.0
Job Categories: Data Quality and Operations,Job Title: Data Operations Engineer, Average Salary: $184987.5
Job Categories: Data Quality and Operations,Job Title: Data Operations Manager, Average Salary: $136000.0
Job Categories: Data Quality and Operations,Job Title: Data Operations Specialist, Average Salary: $55355.0
Job Categories: Leadership and Management,Job Title: Data Product Manager, Average Salary: $142750.0
Job Categories: Data Quality and Operations,Job Title: Data Quality Analyst, Average Salary: $89898.88888888889
Job Categories: Data Quality and Operations,Job Title: Data Quality Engineer, Average Salary: $131500.0
Job Categories: Data Science and Research,Job Title: Data Science Consultant, Average Salary: $122936.0
Job Categories: Data Science and Research,Job Title: Data Science Director, Average Salary: $201000.0
Job Categories: Data Science and Research,Job Title: Data Science Engineer, Average Salary: $162715.0
Job Categories: Data Science and Research,Job Title: Data Science Lead, Average Salary: $182930.6875
Job Categories: Data Science and Research,Job Title: Data Science Manager, Average Salary: $215264.02
Job Categories: Data Science and Research,Job Title: Data Science Practitioner, Average Salary: $144480.0
Job Categories: Data Science and Research,Job Title: Data Scientist, Average Salary: $170311.39632352942
Job Categories: Data Management and Strategy,Job Title: Data Specialist, Average Salary: $94967.85714285714
Job Categories: Data Architecture and Modeling,Job Title: Data Strategist, Average Salary: $97688.125
Job Categories: Data Management and Strategy,Job Title: Data Strategy Manager, Average Salary: $138750.0
Job Categories: BI and Visualization,Job Title: Data Visualization Analyst, Average Salary: $120000.0
Job Categories: BI and Visualization,Job Title: Data Visualization Engineer, Average Salary: $122975.0
Job Categories: BI and Visualization,Job Title: Data Visualization Specialist, Average Salary: $122275.0
Job Categories: Data Science and Research,Job Title: Decision Scientist, Average Salary: $167119.44444444444
Job Categories: Machine Learning and AI,Job Title: Deep Learning Engineer, Average Salary: $218855.0
Job Categories: Data Science and Research,Job Title: Director of Data Science, Average Salary: $249721.25
Job Categories: Data Engineering,Job Title: ETL Developer, Average Salary: $123125.0
Job Categories: Data Analysis,Job Title: Financial Data Analyst, Average Salary: $93250.0
Job Categories: Leadership and Management,Job Title: Head of Data, Average Salary: $254078.94736842104
Job Categories: Data Science and Research,Job Title: Head of Data Science, Average Salary: $267475.0
Job Categories: Machine Learning and AI,Job Title: Head of Machine Learning, Average Salary: $259000.0
Job Categories: Data Analysis,Job Title: Lead Data Analyst, Average Salary: $68000.0
Job Categories: Machine Learning and AI,Job Title: ML Engineer, Average Salary: $209301.17283950618
Job Categories: Machine Learning and AI,Job Title: MLOps Engineer, Average Salary: $128675.0
Job Categories: Machine Learning and AI,Job Title: Machine Learning Engineer, Average Salary: $195318.9139922978
Job Categories: Machine Learning and AI,Job Title: Machine Learning Infrastructure Engineer, Average Salary: $183440.0
Job Categories: Machine Learning and AI,Job Title: Machine Learning Modeler, Average Salary: $173350.0
Job Categories: Machine Learning and AI,Job Title: Machine Learning Researcher, Average Salary: $157045.45454545456
Job Categories: Machine Learning and AI,Job Title: Machine Learning Scientist, Average Salary: $187732.16666666666
Job Categories: Machine Learning and AI,Job Title: Machine Learning Software Engineer, Average Salary: $195700.0
Job Categories: Machine Learning and AI,Job Title: NLP Engineer, Average Salary: $198333.33333333334
Job Categories: Data Science and Research,Job Title: Principal Data Scientist, Average Salary: $177500.0
Job Categories: Data Science and Research,Job Title: Research Analyst, Average Salary: $101687.48484848485
Job Categories: Data Science and Research,Job Title: Research Engineer, Average Salary: $188615.92063492062
Job Categories: Data Science and Research,Job Title: Research Scientist, Average Salary: $190214.03433476394
Job Categories: Data Engineering,Job Title: Software Data Engineer, Average Salary: $210000.0