In [16]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd #import pandas
import warnings
warnings.filterwarnings("ignore")

In [17]:
uri = 'mongodb+srv://ryandekker:Bmo4ZF5Oksi7tsx@cluster0.yogybtx.mongodb.net/'
mongo = MongoClient(uri)

In [18]:
db = mongo['jobs_in_data']

In [19]:
# review the collections in our database
print(db.list_collection_names())

['jobs']

In [20]:
data_jobs = db['jobs']

In [21]:
query = {'work_year' : 2023}

# Use count_documents to display the number of documents in the result
result = data_jobs.count_documents(query)
# Display the first document in the results using pprint
pprint(result)

6635

In [22]:
cleaned_df = pd.DataFrame(data_jobs.find(query))
cleaned_df.head(16)

,_id,work_year,job_title,job_category,salary,experience_level,employment_type,work_setting,company_size
0,65a6e28a50bd753185e87f5f,2023,Data Architect,Data Architecture and Modeling,186000,Senior,Full-time,In-person,M
1,65a6e28a50bd753185e87f60,2023,Data Architect,Data Architecture and Modeling,81800,Senior,Full-time,In-person,M
2,65a6e28a50bd753185e87f61,2023,Data Scientist,Data Science and Research,212000,Senior,Full-time,In-person,M
3,65a6e28a50bd753185e87f62,2023,Data Scientist,Data Science and Research,93300,Senior,Full-time,In-person,M
4,65a6e28a50bd753185e87f63,2023,Data Scientist,Data Science and Research,130000,Senior,Full-time,Remote,M
5,65a6e28a50bd753185e87f64,2023,Data Scientist,Data Science and Research,100000,Senior,Full-time,Remote,M
6,65a6e28a50bd753185e87f65,2023,Machine Learning Researcher,Machine Learning and AI,224400,Mid-level,Full-time,In-person,M
7,65a6e28a50bd753185e87f66,2023,Machine Learning Researcher,Machine Learning and AI,138700,Mid-level,Full-time,In-person,M
8,65a6e28a50bd753185e87f67,2023,Data Engineer,Data Engineering,210000,Executive,Full-time,Remote,M
9,65a6e28a50bd753185e87f68,2023,Data Engineer,Data Engineering,168000,Executive,Full-time,Remote,M
10,65a6e28a50bd753185e87f69,2023,Machine Learning Engineer,Machine Learning and AI,224400,Senior,Full-time,In-person,M
11,65a6e28a50bd753185e87f6a,2023,Machine Learning Engineer,Machine Learning and AI,138700,Senior,Full-time,In-person,M
12,65a6e28a50bd753185e87f6b,2023,Data Analyst,Data Analysis,95000,Entry-level,Full-time,In-person,M
13,65a6e28a50bd753185e87f6c,2023,Data Analyst,Data Analysis,75000,Entry-level,Full-time,In-person,M
14,65a6e28a50bd753185e87f6d,2023,Data Scientist,Data Science and Research,300000,Senior,Full-time,In-person,M
15,65a6e28a50bd753185e87f6e,2023,Data Scientist,Data Science and Research,234000,Senior,Full-time,In-person,M

In [26]:
#What is the salary based on the job title and work experience?
job_title = ['Data Engineer', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Applied Scientist', 'Research Scientist', 'Analytics Engineer', 'Data Architect', 'Business Intelligence Engineer', 'Research Engineer', 'Data Manager', 'ML Engineer', 'Data Science Manager', 'Machine Learning Scientist', 'Business Intelligence Analyst', 'BI Developer', 'Data Science Consultant', 'Data Specialist', 'Research Analyst', 'Decision Scientist', 'Data Analytics Manager', 'AI Engineer', 'Head of Data', 'Director of Data Science', 'BI Analyst', 'Machine Learning Infrastructure Engineer', 'Computer Vision Engineer', 'Data Modeler', 'Data Quality Analyst', 'Data Science Lead', 'AI Developer', 'Business Data Analyst', 'ETL Developer', 'Data Strategist', 'AI Scientist', 'Machine Learning Researcher', 'Business Intelligence Developer', 'Data Operations Engineer', 'BI Data Analyst', 'Data Lead', 'Data Science Engineer', 'Machine Learning Software Engineer', 'NLP Engineer', 'Applied Machine Learning Scientist', 'AI Architect', 'Data Infrastructure Engineer', 'Deep Learning Engineer', 'Head of Data Science', 'MLOps Engineer', 'Applied Data Scientist']
work_experience = ['Entry-level', 'Mid-level', 'Senior', 'Executive']

employees = data_jobs.find({'job_title': job_title, 'experience_level': work_experience})

total_salary = 0
average_salary1 = total_salary / data_jobs.count_documents({'job_title': job_title, 'experience_level': work_experience}) 
for employee in employees:
    total_salary += employee['salary']

average_salary = total_salary / data_jobs.count_documents({'job_title': job_title, 'experience_level': work_experience})

print(f"The average salary for {job_title}s with {work_experience} years of experience is ${average_salary}.")

ZeroDivisionError: division by zero

In [23]:
work_settings = ['In-person', 'Remote']

salaries = {}
for work_setting in work_settings:
    employees = data_jobs.find({'work_setting': work_setting})
    total_salary = 0
    for employee in employees:
        total_salary += employee['salary']
    average_salary = total_salary / employees.count()
    salaries[work_setting] = average_salary

salary_differences = {}
for i in range(len(work_settings)):
    for j in range(i + 1, len(work_settings)):
        salary_difference = salaries[work_settings[i]] - salaries[work_settings[j]]
        salary_differences[f"{work_settings[i]} - {work_settings[j]}"] = salary_difference

print("Salary differences by work setting:")
for key, value in salary_differences.items():
    print(f"{key}: ${value}")

Salary differences by work setting:
In-person - Remote: $6599.067895895947

In [24]:
company_sizes = ['S', 'M', 'L']

salaries = {}
for company_size in company_sizes:
    employees = data_jobs.find({'company_size': company_size})
    total_salary = 0
    for employee in employees:
        total_salary += employee['salary']
    average_salary = total_salary / employees.count()
    salaries[company_size] = average_salary

salary_differences = {}
for i in range(len(company_sizes)):
    for j in range(i + 1, len(company_sizes)):
        salary_difference = salaries[company_sizes[i]] - salaries[company_sizes[j]]
        salary_differences[f"{company_sizes[i]} - {company_sizes[j]}"] = salary_difference

print("Salary differences by company size:")
for key, value in salary_differences.items():
    print(f"{key}: ${value}")

Salary differences by company size:
S - M: $-15210.058167330688
S - L: $-26223.965116279083
M - L: $-11013.906948948395

In [12]:
job_categories = ['Data Science and Research', 'Data Engineering', 'Data Analysis', 'Machine Learning and AI', 'Leadership and Management', 'BI and Visualization', 'Data Architecture and Modeling', 'Data Management and Strategy', 'Data Quality and Operations', 'Cloud and Database']
job_titles = ['Data Engineer', 'Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Applied Scientist', 'Research Scientist', 'Analytics Engineer', 'Data Architect', 'Business Intelligence Engineer', 'Research Engineer', 'Data Manager', 'ML Engineer', 'Data Science Manager', 'Machine Learning Scientist', 'Business Intelligence Analyst', 'BI Developer', 'Data Science Consultant', 'Data Specialist', 'Research Analyst', 'Decision Scientist', 'Data Analytics Manager', 'AI Engineer', 'Head of Data', 'Director of Data Science', 'BI Analyst', 'Machine Learning Infrastructure Engineer', 'Computer Vision Engineer', 'Data Modeler', 'Data Quality Analyst', 'Data Science Lead', 'AI Developer', 'Business Data Analyst', 'ETL Developer', 'Data Strategist', 'AI Scientist', 'Machine Learning Researcher', 'Business Intelligence Developer', 'Data Operations Engineer', 'BI Data Analyst', 'Data Lead', 'Data Science Engineer', 'Machine Learning Software Engineer', 'NLP Engineer', 'Applied Machine Learning Scientist', 'AI Architect', 'Data Infrastructure Engineer', 'Deep Learning Engineer', 'Head of Data Science', 'MLOps Engineer', 'Applied Data Scientist']

salaries = {}
for job_title in job_titles:
    salaries[job_title] = {}
    for job_category in job_categories:
        employees = data_jobs.find({'job_title': job_title, 'job_category': job_category})
        total_salary = 0
        for employee in employees:
            total_salary += employee['salary']
        average_salary = total_salary / employees.count()
        salaries[job_title][job_category] = average_salary

print("Salary differences by job category for each job title:")
for job_title in job_titles:
    print(f"Job Title: {job_title}")
    for job_category in job_categories:
        print(f"{job_category}: ${salaries[job_title][job_category]}")
    print()

C:\Users\Lilly\AppData\Local\Temp\ipykernel_24156\1889423204.py:12: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  average_salary = total_salary / employees.count()

ZeroDivisionError: division by zero