In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd #import pandas

In [6]:
uri = 'mongodb+srv://ryandekker:Bmo4ZF5Oksi7tsx@cluster0.yogybtx.mongodb.net/'
mongo = MongoClient(uri)

In [7]:
db = mongo['jobs_in_data']

In [8]:
# review the collections in our database
print(db.list_collection_names())

['jobs']

In [9]:
datascijobs = db['jobs']

In [10]:
query = {'work_year' : 2023}

# Use count_documents to display the number of documents in the result
result = datascijobs.count_documents(query)
# Display the first document in the results using pprint
pprint(result)

6635

In [11]:
cleaned_df = pd.DataFrame(datascijobs.find(query))
cleaned_df.head(16)

,_id,work_year,job_title,job_category,salary,experience_level,employment_type,work_setting,company_size
0,65a6e28a50bd753185e87f5f,2023,Data Architect,Data Architecture and Modeling,186000,Senior,Full-time,In-person,M
1,65a6e28a50bd753185e87f60,2023,Data Architect,Data Architecture and Modeling,81800,Senior,Full-time,In-person,M
2,65a6e28a50bd753185e87f61,2023,Data Scientist,Data Science and Research,212000,Senior,Full-time,In-person,M
3,65a6e28a50bd753185e87f62,2023,Data Scientist,Data Science and Research,93300,Senior,Full-time,In-person,M
4,65a6e28a50bd753185e87f63,2023,Data Scientist,Data Science and Research,130000,Senior,Full-time,Remote,M
5,65a6e28a50bd753185e87f64,2023,Data Scientist,Data Science and Research,100000,Senior,Full-time,Remote,M
6,65a6e28a50bd753185e87f65,2023,Machine Learning Researcher,Machine Learning and AI,224400,Mid-level,Full-time,In-person,M
7,65a6e28a50bd753185e87f66,2023,Machine Learning Researcher,Machine Learning and AI,138700,Mid-level,Full-time,In-person,M
8,65a6e28a50bd753185e87f67,2023,Data Engineer,Data Engineering,210000,Executive,Full-time,Remote,M
9,65a6e28a50bd753185e87f68,2023,Data Engineer,Data Engineering,168000,Executive,Full-time,Remote,M
10,65a6e28a50bd753185e87f69,2023,Machine Learning Engineer,Machine Learning and AI,224400,Senior,Full-time,In-person,M
11,65a6e28a50bd753185e87f6a,2023,Machine Learning Engineer,Machine Learning and AI,138700,Senior,Full-time,In-person,M
12,65a6e28a50bd753185e87f6b,2023,Data Analyst,Data Analysis,95000,Entry-level,Full-time,In-person,M
13,65a6e28a50bd753185e87f6c,2023,Data Analyst,Data Analysis,75000,Entry-level,Full-time,In-person,M
14,65a6e28a50bd753185e87f6d,2023,Data Scientist,Data Science and Research,300000,Senior,Full-time,In-person,M
15,65a6e28a50bd753185e87f6e,2023,Data Scientist,Data Science and Research,234000,Senior,Full-time,In-person,M